/* styles.scss */

/* Import Bootstrap's SCSS */
@import 'node_modules/bootstrap/scss/bootstrap';

/* Override the primary button color */
$primary: #6138f5;

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

/* .btn-primary:hover {
  background-color: darken($primary, 10%);  // Darken the primary color on hover
  border-color: darken($primary, 10%);
}
*/

body {
  padding: 0 20px;  // Add padding to the body so the box doesn't touch the edges of the page
  margin: 0;      // Remove any default margin that the body might have
}

.chatbox {
    width: 50vw;
    height: 50vh;
    padding: 0 50wh;
    background-color: #401fb9;
    color: $primary;
    border: 2px solid red;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
}

.prompt {
  background-color: white;
  color: $primary;
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}