<head>
    <title>Xfinity Smart Recommender | About</title>
</head>

<%- include('../views/header') %>

<body>
    <div class="content">
        <h1 style="
    padding-left: 20px;"> About the Xfinity Smart Recommender </h2>
            <p style="font-size: 16px;
    padding: 20px;">
            Using Gemini's API, this website is customized to tailor Xfinity deals towards customer-based needs. 
            With different plans offered and much more deals, it's important to find one that best fits your needs.
            Whether you are looking for cheap realiable options or high-end options, this AI Assistant is able to help you plan your decisions better.
            With AI Assistant, it will take in your unique circumstances such as location, budget, or even the amount of devices you plan on accomadating for, 
            and suggest the perfect plan for you.  
        </p>

        <div class="disclaimer">
            <span style="color: rgb(255, 55, 55);">⚠️Disclaimer</span>: This project is solely made for the purpose of Philly Codefest 2025. We are NOT affiliated or officially endorsed by Xfinity or Comcast. 
            Any and all recommendations are purely for demonstration purposes and may not reflect real Xfinity plans or deals. 
            For official services, please visit Xfinity's website at <a href = "url">https://www.xfinity.com/national/</a>.
        </div>
    </div>
    </body>

<%- include('../views/footer') %>
