<head>
    <title>Xfinity Smart Recommender | About</title>
</head>

<%- include('../views/header') %>

<body>
    This Website is to use Ai to recommend Xfinity Internet Plans based off of
    your circumstances. I don't why why are here instead of using the Xfinity
    website or calling them.
</body>

<%- include('../views/footer') %>
