<head>
    <title>Xfinity Smart Recommender | About</title>
</head>

<%- include('../views/header') %>

<body>
    This Website is to use Ai to recommend Xfinity Internet Plans based off of
    your circumstances.
</body>

<%- include('../views/footer') %>
