<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-4 mb-4 border-bottom"
>
    <a
        href="/"
        class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
    >
        <img src="images/Xfinity-logo.png" style="height: 72px" />
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a href="/" class="nav-link px-2 link-dark"
                ><button class="btn btn-light">Home</button></a
            >
        </li>
        <li>
            <a href="/about" class="nav-link px-2 link-dark"
                ><button class="btn btn-light">About</button></a
            >
        </li>
    </ul>

    <div class="col-md-3 text-end">
        <a href="https://www.xfinity.com/overview" target="_blank"
            ><button type="button" class="btn btn-outline-primary">
                Xfinity Website
            </button></a
        >
        <a href="/main"
            ><button type="button" class="btn btn-primary">
                AI Assistant
            </button></a
        >
    </div>
</header>
