<head>
    <title>Xfinity Smart Recommender | Home</title>
</head>

<%- include('../views/header') %>

<body>
    <h2 id="responsive-text"></h2>
    <script>
        import $ from "jquery";
        $("#responsive-text").html("test");
    </script>
</body>

<%- include('../views/footer') %>
