<head>
    <title>Xfinity Smart Recommender | AI Assistant</title>
</head>

<%- include('../views/header') %>

<body>
    <div class="chatbox w-full h-50">
        <div class="mb-3 flex justify-content-center align-items-center">
            <label for="" class="form-label">Prompt</label>
            <div
                class="mb-3 flex d-flex justify-content-center align-items-center"
            >
                <input
                    type="text"
                    class="form-control px-3"
                    name=""
                    id="input"
                    aria-describedby="helpId"
                    placeholder="Example: Location, Price, # of Devices, etc.:  "
                />
                <button class="btn btn-primary mx-2" id="Prompt">Enter</button>
            </div>
        </div>
    </div>
    <script type="module" src="script.js"></script>
</body>

<%- include('../views/footer') %>
